/* Roboto Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background: #222F3E;
	color: white;
	overflow-x: hidden;
}

/* Main Font Styles */
h1{
	font-size: 55px;
	font-weight: 900;
}
h2{
	font-size: 40px;
	font-weight: 900;
}
h3{
	font-size: 30px;
	font-weight: 900;
}
h4{
	font-size: 25px;
	font-weight: 900; 
}
h5{
	font-size: 20px;
	font-weight: 900;
}
h6{
	font-size: 16px;
	font-weight: 900;
}
p{
	font-size: 16px;
}
.font-faded{
	opacity: .5;
	font-size: 13px;
	padding-top: 5px;
}
.theme-link{
	color: white;
}
.theme-link:hover{
	color: lightgray;
	text-decoration: none;
}
.theme-link-dark{ 
	color: black;
}
.theme-link-dark:hover{
	color: gray;
	text-decoration: none;
}
.nospace{
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

/* Global Styles */
.btn-theme{
	color: black;
	border-radius: 7px;
	background: white;
	padding: 15px 30px 15px 30px;
	border: 2px white solid;
}
.btn-theme:hover{
	color: white;
	border-radius: 7px;
	border: 2px white solid;
	background: #222F3E;
}


/* NavBar Styles */
.navbar-theme{
	background: #222F3E;
	padding: 25px 0px 25px 0px;
}
.navbar-brand{
	color:white!important;
}
.nav-link{
	color:white!important;
}
.nav-link:hover{
	color:lightgray!important;
}
.active{
	border-bottom: 1px solid white;
}

/* Footer Styles */
.footer{
	background: #18212B;
	padding: 100px 0px 100px 0px;

}
.footerhome{
	background: #18212B;
	padding: 100px 0px 100px 0px;
}


/* Index Styles */
.float{
	border-radius: 7px;
	background: white;
	padding: 10px;
	margin-bottom: 30px;
}
.float-img{
	border-radius: 7px;
}
.infoblock{
	background: #18212B;
	padding: 15px;
	width: 100%;
	border-radius: 7px;
	margin-bottom: 30px;
}